#home {
    background: #fff; /* Mengubah warna latar belakang */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #000000; 
    text-align: center; 
    margin-top: 100px; 
}

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #007bff, #00bfff);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.4rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background:  #007bff;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

header {
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: #007bff; 
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Efek bayangan */
    z-index: 5;
}

.content {
    padding-top: 80px; /* Sesuaikan dengan tinggi navbar */
}

p {
    font-size: 20px;
}

header h1 {
    margin: 0;
    font-size: 40px;
    text-transform: uppercase; /* Huruf kapital semua */
    letter-spacing: 2px; /* Spasi antar huruf */
}

/* .logo {
    width: 1px;
} */

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Efek transisi warna */
}

nav ul li a:hover {
    color: #ffcc00; 
}

section {
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 85%;
    font-family: 'Roboto Mono', monospace;
    background-image: url();
}

section h2 {
    font-size: 45px;
    color: #00bfff;
}

h3 {
    font-size: 30px;
    color: #00bfff;
}

span{
    color: #007bff;
}

.candidate-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.candidate-image {
    width: 300px;
    /* height: auto; */
    border-radius: 50%;
    /* margin-right: 20px; */
}

.candidate-details {
    display: flex;
    align-items: center;
}

.candidate-name {
    font-size: 70px;
    font-weight: bold;
    color: #00bfff;
}

.candidate-description {
    font-size: 20px;
    margin-top: 10px;
}

.party-logos {
    display: flex;
    align-items: center;
    justify-content: center; /* Memusatkan logo partai */
    margin-top: 20px; /* Memberi ruang di atas logo partai */
}

.party-logo {
    width: 50px; /* Sesuaikan ukuran logo partai */
    margin-right: 10px;
}

.slideshow-container {
    max-width: 800px; /* Sesuaikan lebar maksimum sesuai keinginan Anda */
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border-radius: 8%;
}

.slideshow-slide {
    display: none;
    text-align: center;
}

.slideshow-slide img {
    width: 60%; /* Gambar akan menyesuaikan lebar kontainer slideshow */
    height: auto;
}

.kampanye-img {
    width: 200px;
}

/* .profil-content {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
} */

/* .profile-item {
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.profile-item p {
    line-height: 1.6;
} */


.penghias {
    text-align: left;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: 'Playfair Display', serif;
}
