#home {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #000000; 
    text-align: center; 
    margin-top: 100px; 
}

body {
    font-family: "Chakra Petch", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #007bff, #00bfff);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.4rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background:  #007bff;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover{
    letter-spacing: .2rem;
}

.btn-img{
    width: 10%;
}

header {
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: #007bff; 
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 5;
}

.content {
    padding-top: 80px; 
}

p {
    font-size: 20px;
}

header h1 {
    margin: 0;
    font-size: 40px;
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

/* .logo {
    width: 1px;
} */

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00; 
}

section {
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 85%;
    font-family: "Chakra Petch", sans-serif;    
    background-image: url();
}

section h2 {
    font-size: 45px;
    color: #00bfff;
}

h3 {
    font-size: 40px;
    color: #00bfff;
}

span{
    color: #007bff;
}

.candidate-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.candidate-image {
    width: 350px;
    height: auto;
    border-radius:70%;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.candidate-image:hover {
    transform: scale(1.1); 
}

.candidate-details {
    display: flex;
    align-items: center;
}

.candidate-name {
    font-size: 70px;
    font-weight: bold;
    color: #00bfff;
}

.candidate-description {
    font-size: 20px;
    margin-top: 10px;
}

.party-logos {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 20px; 
}

.party-logo {
    width: 50px; 
    margin-right: 10px;
}

.slideshow-container {
    max-width: 800px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border-radius: 8%;
}

.slideshow-slide {
    display: none;
    text-align: center;
}

.slideshow-slide img {
    width: 60%; 
    height: auto;
}

.kampanye-img {
    width: 260px;
}

.penghias {
    text-align: left;
}

#visi-misi {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.visi-misi-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.visi-img {
    width: 50%; 
    margin: 10px; 
}

.gallery-container {
    overflow-x: auto; 
    white-space: nowrap; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.gallery {
    display: inline-flex; 
}

.gallery img {
    width: 200px; 
    height: auto; 
    margin-right: 10px; 
}

.testimoni {
    padding: 40px;
    background-color: #b6e4f2;
    text-align: center;
}

.testimoni h2 {
    margin-bottom: 20px;
}

.testimoni-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testimoni-box {
    width: 300px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    text-align: left;
}

.testimoni-box img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px 8px 0 0; 
    transition: transform 0.3s ease; 
}

.testimoni-box:hover img {
    transform: scale(1.1); 
}

.testimoni-box h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.testimoni-box p {
    font-style: italic;
}

footer {
    background-color: #00bfff; 
    color: #fff; 
    text-align: center;
    padding: 20px;
    bottom: 0; 
    width: 100%; 
}

.social-media a {
    color: #fff; 
    font-size: 24px;
    margin: 0 10px; 
    transition: color 0.3s ease; 
}

.social-media a:hover {
    color: #007bff; 
}

footer .iyas img{
    width: 120px; 
    height: auto; 
}

#kontak {
    text-align: center;
    padding: 40px;
    background-color: #f9f9f9;
}

#kontak h2 {
    font-size: 36px;
    color: #333;
}

.kontak-info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.info-item {
    margin: 0 20px;
}

.info-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.info-item p {
    font-size: 16px;
}

.contact-form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    width: 200px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}


    
